/GUI/testwindow.ui
/GUI/testwindow.py
/GUI/mainipprogress.py
/GUI/mainipprogress.ui
/GUI/sim_wiz_wip.ui
/GUI/jsonexample.py
/GUI/gui_res/example.json
/.idea
/Configs/
/GUI/sim_wiz_wip.py
/GUI/testwindow_wip.py
/GUI/testwindow_wip.ui
/GUI/running_ui_wip.ui
/GUI/playground.py
